.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
}
.chatHeader{
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.chatHeader-info{
    flex: 1;
    padding-left: 20px;
}
.chatHeader-info > h3{
    margin-bottom: 3px;
    font-weight: 500;
}
.chatHeader-info>p{
    font-size: 13px;
    color: gray;
}

.chat-body{
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0px !important;
    overflow: scroll;

}
.chat-message{
    position: relative;
    font-size: 14px;
    padding: 8px;
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 5px -2px gray;
    overflow-wrap: break-word;
}
.chat-name{
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 12px;
    color: rgb(147, 34, 252);
}
.chat-timestamp{
    margin-left : 10px;
    font-size : xx-small;
}
.chat-receiver{
    margin-left: auto;
    background-color: rgb(211, 255, 194);
    max-width: 500px;
}
.chat-footer{
    /* width: 100%; */
    background-color: rgb(236, 236, 236);
    /* position: fixed;
    bottom: 2px; */
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}
.chat-footer >form{
    flex:1;
    display: flex;
}
.chat-footer >form input{
    flex: 1;
    border-radius: 20px;
    outline-width: 0;
    border: none;
    padding: 12px;
}
.chat-footer >form button{
    display: none;
}
.chat-footer > .MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}
@media only screen and (max-width:575px){
    .chat{
        display: flex;
        flex-direction: column;
        flex: 0.85;
    }
    .chatHeader{
        display: flex;
        padding: 10px;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }
    .chatHeader-info{
        flex: 1;
        padding-left: 20px;
    }
    .chatHeader-info > h3{
        margin-bottom: 3px;
        font-weight: 500;
    }
    .chatHeader-info>p{
        font-size: 13px;
        color: gray;
    }
    
}